# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# data (auto-seeded on first run; use real DB in prod)
/data

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local
.env
